.activeBar {
  height: 56px;
  width: 3px;
  background-color: #dde2ff;
  position: absolute;
  left: 0;
}

.activeContainer {
  background-color: rgba(221, 226, 255, 0.08);
}

.activeTitle {
  color: #dde2ff;
}

.container {
  height: 56px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
}

.container:hover {
  background-color: rgba(221, 226, 255, 0.08);
}

.title {
  font-family: Muli, serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: inherit;
  color: #a4a6b3;
  margin-left: 24px;
}
