.cover {
  display: inline-block;
  margin: 20px 12px;
  max-width: 120px;
  position: relative;
  vertical-align: top;
}

.coverImage {
  cursor: pointer;
  box-shadow: -2px 2px 4px rgb(0, 0, 0);
  max-width: 100%;
}

.coverTitle {
  text-align: center;
  margin: 5px 0 0;
  padding-bottom: 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3em;
  color: #555;
  -wekbit-font-smoothing: antialiased;
}
