.clear {
  clear: both;
}
.cover {
  display: inline-block;
  margin: 20px 12px;
  max-width: 120px;
  position: relative;
  vertical-align: top;
}

.coverImage {
  cursor: pointer;
  box-shadow: -2px 2px 4px rgb(0, 0, 0);
  max-width: 100%;
}

.coverTitle {
  text-align: center;
  margin: 5px 0 0;
  padding-bottom: 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3em;
  color: #555;
}

.detail {
  backface-visibility: hidden;
  position: relative;
  margin: 10px;
}

.bookExpandedControls {
  background: #f9f9f9;
  padding: 1px 0;
  color: #404040;
  position: absolute;
  height: auto;
  bottom: 0;
  margin: auto;
  border-radius: 0 3px 3px 0;
  font-size: 10px;
  font-weight: 400;
  border: 1px solid #dedede;
  display: block;
  width: 40px;
  right: 0;
  opacity: 1;
  z-index: 3;
  top: 0;
  -webkit-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  box-shadow: inset 3px 0 10px -6px rgb(0 0 0);
}

.bookFinds {
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  background-color: #FFF;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  min-height: 285px;
}

.bookImage {
  float: left;
  max-width: 120px;
  width: 18%;
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 1%;
}

.bookInfo {
  width: 75%;
}

.bookDescription {
  margin-top: 15px;
  margin-bottom: 14px;
  padding-top: 15px;
  border-top: 1px solid #dedede;
  font-weight: 400;
  overflow-x: hidden;
}
