.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin-left: 14px;
  border: 1px solid #dfe0eb;
}

.container {
  height: 40px;
  margin: 10px;
}

.cursorPointer {
  cursor: pointer;
}

.name {
  font-family: "Roboto Light", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: inherit;
}

.separator {
  width: 2px;
  height: 32px;
  margin-right: 32px;
  margin-left: 32px;
  border-left: 1px solid #dfe0eb;
}

.title {
  font-family: Muli, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: inherit;
}
@media (max-width: 768px) {
  .name {
    display: none;
  }
  .separator {
    margin-left: 12px;
    margin-right: 12px;
  }
  .title {
    margin-left: 36px;
  }
}

@media (max-width: 468px) {
  .title {
    font-size: 20px;
  }
}
