.burgerIcon {
  cursor: pointer;
  position: absolute;
  left: 24px;
  top: 34px;
}
.container {
  background-color: #363740;
  width: 255px;
  padding-top: 32px;
  height: calc(100% - 32px);
}
.containerMobile {
  transition: left 0.5s, right 0.5s;
  position: absolute;
  width: 255px;
  height: calc(100% - 32px);
  z-index: 901;
}
.mainContainerMobile {
  position: absolute;
  width: 100vw;
  min-width: 100%;
  top: 0;
  left: 0;
}
.mainContainer {
  height: 100%;
  min-height: 100vh;
}
.mainContainerExpanded {
  width: 100%;
  min-width: 100vh;
}
.separator {
  border-top: 1px solid #dfe0eb;
  margin-top: 16px;
  margin-bottom: 16px;
  opacity: 0.06;
}
.hide {
  left: -255px;
}
.show {
  left: 0;
}
.menuItemList {
  margin-top: 52px;
}
.outsideLayer {
  position: absolute;
  width: 100vw;
  min-width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: 900;
}

.link {
  text-decoration: none;
  color: aliceblue;
}
.link:focus,
.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
  color: aliceblue;
}
